<%= layout('/layouts/boilerplate') %>
    <h1 class="text-center">Edit team</h1>
    <div class="col-6 offset-3">
        <form action="/teams/<%= team._id %>?_method=PUT" method="POST" novalidate class="validate-form">
            <div class="mb-3">
                <label class="form-label" for="title">Team title:</label>
                <input class="form-control" type="text" name="team[title]" id="title" value="<%=team.title%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="country">Team country:</label>
                <input class="form-control" type="text" name="team[country]" id="country" value="<%=team.country%>"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Team description:</label>
                <input class='form-control' name="team[description]" id="description" value="<%=team.description%>"
                    required></input>
            </div>
            <div class="mb-3">
                <label class="form-label" for="crest">Team crest:</label>
                <input class="form-control" type="text" name="team[crest]" id="crest" value="<%=team.crest%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="year">Year founded:</label>
                <input class="form-control" type="number" name="team[year]" id="year" value="<%=team.year%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="cl">Number of champions league:</label>
                <input class="form-control" type="number" name="team[championsLeague]" id="cl"
                    value="<%=team.championsLeague%>" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-info" diabled>Update team</button>
            </div>
        </form>
        <footer>
            <a href="/teams/<%= team._id %> ">Return to team</a>
        </footer>
    </div>